.upcomig-match-card {
  border: 1px solid lightgray;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}
.flags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flags > img {
  width: 100%;
  margin: 0 1rem;
}

.grid-cards {
  grid-gap: 2rem;
}
